body {
	font: 400 1rem /1.75 'Sawarabi Gothic', Inter, 'brandon-grotesque', serif;
	color: #fff;
	background-color: #36393f;
	margin: 0;
	padding: 0;
}

.in-able {
	transition: all 350ms ease-in 0s;
}

.out-able {
	transition: all 350ms ease-out 0s;
}

@font-face {
  font-family: 'brandon-grotesque';
  src: url('brandon-grotesque-light-58a8a4b38001d.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900; /* Set the font weights available */
}


#main-wrapper {
	color: #fff;
	background-color: #36393f;
}

*:lang(ja) > * {
	font-family: 'Sawarabi Gothic', Inter, 'brandon-grotesque', serif;
}

*:lang(en) > * {
	font-family: Inter, 'brandon-grotesque', 'Sawarabi Gothic', serif;
}

nav {
	display: flex;
	justify-content: space-between;
}

.nav-profile {
	padding: 1em;
	display: inline-flex;
	align-items: center;
	text-align: justify;
	gap: 1.5em;
	background-color: #2d2f34;
	border-radius: 0 0 42px 0;
}

.nav-profile .profile-pic {
	max-height: 64px;
	border-radius: 50%;
}

.nav-profile .profile-name {
	font-size: 20pt;
}

.nav-profile-pic-container {
	height: 64px;
	width: 64px;
}

.nav-lang {
	position: fixed;
	right: 0;
	height: fit-content;
	padding: 20px;
	background-color: #2d2f34;
	border-radius: 0 0 0 50px;
}

.nav-lang ul {
	list-style: none;
	margin: 0 0 0 1em;
	padding: 0;
}

.nav-lang ul li a {
	text-decoration: none;
	color: inherit;
}

.nav-lang ul li[activelang] {
	position: relative;
}

.nav-lang ul li[activelang]::before {
	position: absolute;
	left: -1em;
	content: "✓";
}

.main-content {
	padding: 24px 20vw;
}

.main-content::before {
	content: "";
	background-color: #535b61;
	display: block;
	width: auto;
	height: 1px;
}
